.friends-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}
.vector {
  position: absolute;
  top: -122px;
  left: 0;
  width: 100%;
}
.ex {
  width: 100%;
  height: 59.45px;
  border-radius: 12px;
  background: #42bdff;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23.87px;
  position: sticky;
  bottom: 95px;
  margin-top: 8px;
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 99999;
}
