@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 500l;
  src: url("./fonts/sf-ui-display-medium-58646be638f96.woff") format("woff");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: semibold;
  src: url("./fonts/sf-ui-display-semibold-58646eddcae92.woff") format("woff");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/sf-ui-display-bold-58646a511e3d9.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF";
}
#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.App {
  height: 100%;
  max-width: 650px;
  min-height: 720px;
  width: 100%;
  background: #06131a;
}
